@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*{ 
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: var(--font-400);
}

/* p {
  background-color: aqua;
} */

:root{
  --color-primary: rgb(255, 80, 5);
  --color-bg-grey : rgba(217, 217, 217, 1);
  /* --color-primary: rgba(255, 131, 61, 1); */

  /** Font Family */
  --family-principe: 'Open Sans', sans-serif;

  /* Font Weight **/
  --font-400: normal;
  --font-500: thicker;

  /** Font Size */
  --font-size-small : 10px;
}